NameVirtualHost *:80
NameVirtualHost *:443

<VirtualHost *:80>
  DocumentRoot {{ centos6_apache_docroot }}
  <Directory "{{ centos6_apache_docroot }}">
    Options -Indexes FollowSymLinks
    AllowOverride All
    DirectoryIndex index.html index.htm index.php
  </Directory>

  SetEnv CAKE_ENV_MODE {{ centos6_apache_cake_env_mode }}
</VirtualHost>

<VirtualHost *:443>
  DocumentRoot {{ centos6_apache_docroot }}
  <Directory "{{ centos6_apache_docroot }}">
    Options -Indexes FollowSymLinks
    AllowOverride All
    DirectoryIndex index.html index.htm index.php
  </Directory>

  SetEnv CAKE_ENV_MODE {{ centos6_apache_cake_env_mode }}

  ErrorLog logs/ssl_error_log
  CustomLog logs/ssl_access_log combined
  LogLevel warn

  SSLEngine on
  SSLProtocol all -SSLv2 -SSLv3
  # feature phones are not supported
  SSLCipherSuite ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
  SSLHonorCipherOrder on
  SSLOptions +StrictRequire

  SSLCertificateFile /etc/pki/tls/certs/localhost.crt
  SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
  #SSLCertificateChainFile /etc/pki/tls/certs/server-chain.crt

  # for full https
  #Header set Strict-Transport-Security "max-age=15768000"

  SetEnvIf User-Agent ".*MSIE.*" \
    nokeepalive ssl-unclean-shutdown \
    downgrade-1.0 force-response-1.0
  CustomLog logs/ssl_request_log \
    "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>
